.compte-rendu-list:first-child{
	border-top:solid #FF0000;
	border-top-width:thin;
	padding-top: 50px;
	margin-top: 20px;
}
.compte-rendu-list{
	border-bottom:solid #ff0000;
	border-bottom-width:thin;
	padding-bottom: 50px;
	margin-bottom: 70px;
}
.compte-rendu-list ul{
	margin-top: 15px;
	padding-left: 0 !important; 
	list-style: none;

}
.alert
{
	position: fixed;
	z-index: 10;
	width: 80%;
	top: 5%;
	left: 10%;
}
.navbar{
	z-index: 9;
}